it works!



<a href="https://gitlab.com/seanwasere/staticHtmlPages">
    <span style="font-family: tahoma; font-size: 20px; position:fixed; top:50px; right:-45px; display:block; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); background-color:red; color:white; padding: 4px 30px 4px 30px">Fork me on GitLab</span>
</a>
